@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');


ol {
	counter-reset: item;
}

li {
	display: block;
	font-size: 20px;
}

li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
	font-weight: 700;
}

*
{
	font-family: 'Open Sans' !important;
}


header
{
	text-align: center;
	font-size: 50px;
	/*font-style: bold;*/
	font-weight: 600;
	background: #2B9ADF;
	color: white;
}

section	h1, section	h2
{
	text-align: center;
}

/*section ol li
{
	font-size: 20px;
}*/